.topnav a {
    /*float: left;*/
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #00000000;
  }*/

  .topnav a:hover {

    color: rgba(0, 0, 0, 0);
  }

  /* Dette er bakrunsbildet */
  body{
    background-image: url('Bilder/bakrunn.png');
    background-size: cover;
  }


  .container {
    position: absolute ;
    width: 100%;
    max-width: 300px;
    height: 100px;
    position: relative;
    border: 3px solid green;
    left: 39%;
  }
  
/* Dette er kodene for knappen */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: rgb(29, 27, 27);
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
  }

  li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 8px 16px;
    text-decoration: none;
  }

  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }

  li:last-child {
    border-bottom: none;
  }

  li a.active {
    background-color: #04AA6D;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: top;
  }
  
/* detter er skrift biksen jeg har teksten på sidene */
  .flex-container > div {
    background-color: #f1f1f146;
    width: 1000px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;}